<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Orange CSS -->
    <link rel="stylesheet" href="https://cdn.orangecss.com/1.4.1/css/orange.min.css">
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <title>Calorie Checker</title>
    <meta name="description" content="Checks the calorie level of any meal" />
    <meta name="keywords" content="calorie checker" />

    <!-- Tracking Code -->
  </head>
  <body>
    <div class="container">
      <h1>Calorie Checker</h1>

      <%= yield %>

      <br>
      <a href="/new" class="button button--secondary">Check your Meal's Calories</a>

    </div>
  </body>
</html>