<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Orange CSS -->
    <link rel="stylesheet" href="https://cdn.orangecss.com/1.4.1/css/orange.min.css">
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />

    <title>INSERT TITLE HERE</title>
    <meta name="description" content="INSERT DESCRIPTION HERE" />
    <meta name="keywords" content="INSERT KEYWORDS HERE" />

    <!-- Tracking Code -->
  </head>
  <body>
    <div class="container">
      <h1>Calorie Checker</h1>

      <%= yield %>

      <br>
      <a href="/new" class="button button--secondary">Check your Meal's Calories</a>

    </div>
  </body>
</html>