<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Orange CSS -->
    <link rel="stylesheet" href="https://cdn.orangecss.com/1.4.1/css/orange.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>INSERT TITLE HERE</title>
    <meta name="description" content="INSERT DESCRIPTION HERE" />
    <meta name="keywords" content="INSERT KEYWORDS HERE" />

    <!-- Tracking Code -->
  </head>
  <body>
    <div class="container">
      <h1>Calorie Checker</h1>

      <%= yield %>

      <br>
      <a href="/new" class="button button--secondary">Check your Meal's Calories</a>

    </div>
  </body>
</html>